.add-edit-details-modal {
  top: 50%;
  left: 50%;
  width: 720px;
  max-height: 464px;
  position: absolute;
  border-radius: 4px;
  background-color: #fff;
  transform: translate(-50%, -50%);

  .top-section {
    font-size: 24px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content-section {
    padding: 16px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
  }
  .action-section {
    padding: 16px;
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: flex-end;
  }
}
